
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}


.site-header {
    background-color: blue;
    color: white;
    height: 100px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px 0 0;
}

.branding {
    display: flex;
    align-items: center;
}

.site-title {
    margin: 0;
    font-size: 24px;
}

.logo-image {
    display: none;
    width: 10px;
    height: 10px;
    background-image: url(./home\ \(1\).png);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    font-size: 20px;
}

.nav-item {
    color: white;
}


.main-section {
    margin-top: 20px;
}

.content-list {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.content-wrapper {
    display: flex;
    gap: 20px;
}

.content-item {
    flex: 1;
}

.sub-list {
    list-style: none;
}

.sub-item {
    width: 300px;
    height: 30px;
    background-color: rgb(0, 0, 123);
    margin-top: 10px;
    padding: 5px;
    color: white;
    font-size: 20px;
}

.info-box {
    margin-top: 20px;
}

.section-title {
    color: blue;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    line-height: 1.5;
}

.side-content {
    width: 300px;
    text-align: center;
    background-color: rgb(0, 0, 123);
    color: white;
}

.side-title {
    margin: 20px 0;
}

.side-description {
    margin-bottom: 20px;
}


.site-footer {
    background-color: blue;
    color: white;
    text-align: center;
    height: 110px;
    padding: 40px;
    margin-top: 100px;
}

.footer-title {
    font-size: 18px;
}


@media (max-width: 800px) {
    .content-list {
        display: block;
    }
}

@media (max-width: 600px) {
    .header-content {
        display: block;
        text-align: center;
    }

    .nav-list {
        flex-wrap: wrap;
        text-align: center;
        margin-left: 70px;
        display: none;
    }

    .logo-image {
        display: block;
        width: 30px;
        height: 30px;
        margin-left: 200px;
    }

    .side-content {
        padding: 10px;
        width: 100%;
    }

    .sub-item {
        width: 100%;
    }

    .content-wrapper {
        display: block;
    }
}